<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="VFPConnection"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source= ./Data;Extended Properties=dBASE IV;User ID=Admin;Password=;" />
        <add name="OracleConnection"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = orcl)));User ID=Factory1;password=123456789;"
            providerName="Oracle.DataAccess" />
    </connectionStrings>
</configuration>